
SIstemaViviendas/.vs/SIstemaViviendas/v14/.suo
SIstemaViviendas/.vs/config/applicationhost.config
SIstemaViviendas/.vs/SIstemaViviendas/v14/.suo
SIstemaViviendas/Dominio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SIstemaViviendas/WebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SIstemaViviendas/.vs/SIstemaViviendas/v14/.suo
