
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="/Cuenta/Login" method="post">
    Usuario:
    <input type="text" name="user" value="" />
    Contraseña:
    <input type="password" name="pass" value="" />
    <button type="submit">Ingresar</button>
</form>